@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #e9ebf7;
  --sec-foreground: #dfe0e8;
  --background: #04050a;
  --sec-background: #0c0c14;
  --sec-high-background: #0f1221;
  --ter-background: #232531;
  --dim-background: #101116;
  --primary: #a1a7c8;
  --secondary: #3d4574;
  --accent: #a0a069;

  --page-margin-x: 65px;

  /* Font Sizes */
  --logo-font: 1.5rem;
  --menu-font: 1.25rem;
  --btn-font: 1.125rem;
  --section-title-font: 2rem;
  --section-subtitle-font: 1.25rem;
  --input-font: 1.125rem;
}

@layer base {
  body {
    @apply bg-background text-foreground scroll-smooth;
  }

  * {
    @apply box-border;
  }
}

@layer utilities {
  .btn {
    @apply text-btn-font px-8 py-2 font-medium rounded-md duration-150 hover:bg-accent hover:text-background active:scale-95;
  }

  .btn-primary {
    @apply bg-primary text-background;
  }

  .btn-secondary {
    @apply bg-secondary text-foreground;
  }
}
