@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-out {
  0% {
    transform: scale(1);
    opacity: 1;
    display: block;
  }

  100% {
    transform: scale(0);
    opacity: 0;
    display: none;
  }
}

@keyframes fade-in {
  0% {
    transform: scale(0);
    opacity: 0;
    display: none;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    display: block;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: #0000;
    backdrop-filter: blur(0px);
  }

  100% {
    background-color: #0004;
    backdrop-filter: blur(4px);
  }
}

:root {
  --foreground: #e9ebf7;
  --sec-foreground: #dfe0e8;
  --dim-foreground: #a0a6b6;
  --background: #04050a;
  --sec-background: #0c0c14;
  --sec-high-background: #0f1221;
  --ter-background: #232531;
  --dim-background: #101116;
  --primary: #a1a7c8;
  --secondary: #3d4574;
  --accent: #a0a069;

  --page-margin-x: 65px;

  /* Font Sizes */
  --logo-font: 1.5rem;
  --menu-font: 1.25rem;
  --btn-font: 1.125rem;
  --section-title-font: 2rem;
  --section-subtitle-font: 1.25rem;
  --input-font: 1.125rem;

  @media (max-width: 1281px) {
    --page-margin-x: 56px;
  }

  @media (max-width: 1125px) {
    --section-title-font: 1.875rem;
    --section-subtitle-font: 1.225rem;
    --btn-font: 1.1rem;
    --input-font: 1.1rem;
  }

  @media (max-width: 1024px) {
    --page-margin-x: 45px;
    --logo-font: 1.375rem;
    --menu-font: 1.15rem;
  }

  @media (max-width: 900px) {
    --page-margin-x: 41px;
  }

  @media (max-width: 800px) {
    --page-margin-x: 38px;
  }

  @media (max-width: 768px) {
    --page-margin-x: 34px;
    --section-title-font: 1.75rem;
    --section-subtitle-font: 1.15rem;
    --btn-font: 1.05rem;
    --input-font: 1.05rem;
  }

  @media (max-width: 640px) {
    --page-margin-x: 27px;
    --logo-font: 1.25rem;
    --menu-font: 1.1rem;
  }

  @media (max-width: 510px) {
    --page-margin-x: 22px;
    --section-title-font: 1.5rem;
    --section-subtitle-font: 1.05rem;
    --btn-font: 1.025rem;
  }

  @media (max-width: 425px) {
    --page-margin-x: 19px;
  }

  @media (max-width: 375px) {
    --page-margin-x: 17px;
  }

  @media (max-width: 325px) {
    --page-margin-x: 12px;
    --logo-font: 1.2rem;
    --menu-font: 1.075rem;
    --section-title-font: 1.25rem;
    --section-subtitle-font: 1rem;
    --btn-font: 0.925rem;
    --input-font: 1rem;
  }

  @media (max-width: 299px) {
    --page-margin-x: 9px;
    --logo-font: 1.1rem;
    --menu-font: 1rem;
    --section-title-font: 1.125rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground scroll-smooth;
  }

  * {
    @apply box-border;
  }
}

@layer components {
  .btn {
    @apply text-btn-font font-semibold h-fit duration-150 hover:bg-accent hover:text-background active:scale-95 disabled:bg-gray-600 disabled:text-white disabled:cursor-not-allowed;
  }

  .btn-xs {
    @apply w-fit px-4 py-1.5 rounded;
  }

  .btn-sm {
    @apply w-fit px-5 py-1.5 rounded-md;
  }

  .btn-base {
    @apply w-fit px-8 py-2 rounded-md;
  }

  .btn-lg {
    @apply w-fit px-12 py-2 rounded-lg;
  }

  .btn-xl {
    @apply w-fit px-14 py-2 rounded-lg;
  }

  .btn-full {
    @apply w-full px-12 py-2 rounded-lg;
  }

  .btn-flex {
    @apply flex gap-x-1 items-center;
  }

  .btn-primary {
    @apply bg-primary text-background;
  }

  .btn-secondary {
    @apply bg-secondary text-foreground;
  }

  .btn-danger {
    @apply bg-danger text-black;
  }

  .base-styled-link {
    @apply font-medium duration-150 hover:text-accent;
  }

  .menu-flex-link {
    @apply flex flex-wrap items-center gap-x-1 w-fit text-menu-font font-medium duration-150 hover:text-accent hover:underline hover:underline-offset-2 mobile-lg:max-w-[8ch];
  }

  .menu-link {
    @apply max-w-[14ch] break-all text-menu-font font-medium duration-150 hover:text-accent hover:underline hover:underline-offset-2;
  }
  .menu-link.active {
    @apply text-accent underline underline-offset-1 hover:underline-offset-2;
  }

  .side-nav-layout {
    @apply min-w-[175px] w-fit max-w-[21ch] min-h-fit h-screen rounded-ee-xl text-lg overflow-y-scroll bg-dimBackground flex flex-col pt-5 pb-10 gap-y-1 no-scrollbar;
  }

  .side-nav-link {
    @apply pl-3.5 pr-5 py-2.5 font-medium capitalize duration-150 hover:bg-background;
  }
  .inp-base-classes {
    @apply w-full px-2 py-1.5 text-input-font leading-8 text-black font-semibold rounded-md bg-gray-300 outline-none placeholder:text-gray-600 focus:bg-gray-100;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .my-dialog {
    z-index: 100;
    animation: fade-out 0.4s ease-in-out;
  }

  .my-dialog[open] {
    animation: fade-in 0.4s ease-in-out;
  }

  .my-dialog[open]::backdrop {
    animation: backdrop-fade-in 0.4s ease-in-out forwards;
  }
}
